.root-pane {
    -fx-background-color: #accbe3;
}

.button {
    -fx-background-radius: 3px;
}

.registrationForm {
    -fx-background-color: #378aad;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: green;
}

.loginForm {
    -fx-background-color: #378aad;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: blue;
}