.root-pane {
    -fx-background-color: #accbe3;
}

.button {
    -fx-background-radius: 3px;
}

.exitButton {
    -fx-text-fill: red;
    -fx-text-alignment: center;
    -fx-font-style: bold;
    -fx-content-display: center;

}

.registrationForm {
    -fx-background-color: #378aad;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: green;
}

.loginForm {
    -fx-background-color: #378aad;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: blue;
}

.borderedPane {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-border-color: black;
}