.root-pane {
    -fx-background-color: #accbe3;
}

.homeVBox {
    -fx-border-radius: 30px;
    -fx-border-color: #3d6171;
    -fx-background-color: #7baac6;
    -fx-background-radius: 30px;
}

.backButton {
    -fx-display: none;
}

.gridSelection {
    -fx-border-color: #808080;
    -fx-border-width: 3px;
}

.gridSelection:selected {
    -fx-border-color: #009900;
    -fx-border-width: 3px;
}